doctype html
html(lang="en")
  head
    title The OFFL
  body
    h1 
        img(src='./images/logo.png' style='height:100px')
        span OFFL
    #container.col
      div this will be something, someday.