doctype html
html(lang="en")
  head
    title The OFFL
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css", integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi", crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet", href="./css/main.css")
  body
    nav.navbar.navbar-dark
      a.navbar-brand(href='#') 
        img(src='./images/logo.png', alt='OFFL')
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href='#') Archives
        li.nav-item
          a.nav-link(href='#') About
    .container
      .row
        .col-sm-6
          .media
            .media-left
              img(src='./images/champ.jpg' height=100)      
            .media-body
              h4.media-heading 2016 Champ
              span Congratulations to David for winning the 2016 season
        .col-sm-6
          .media
            .media-left
              img(src='./images/sacko.jpg' height=100)      
            .media-body
              h4.media-heading 2016 Loser
              span Congratulations to Scott for losing the 2016 season         
      .row
        .col-sm-6
            .media
              .media-body
                h4.media-heading 
                  i.fa.fa-trophy
                  span 2016 Records
                ul
                  li Most Points: Jeff Sottile (1536pts)
                  li Most Single Game Points: John Kelly (175pts - Week 3)
        .col-sm-6
          .media
            .media-body
              h4.media-heading 
                i.fa.fa-bomb
                span 2016 Shame
              ul
                li Least Points: Scott Cotton (1176pts)
                li Most Single Game Points: Patrick McFall (50pts - Playoffs Week 3)
                li Ass Kicking of the Year: J. Pero loses to P. McFall, 86-164 (78pt diff)
      .row
        .col-sm-6
          .media
            .media-body
              h4.media-heading 
                i.fa.fa-diamond  
                span Hall of Champions
              h5 2016 - David Bordanarama
              h6 2015 - Ken Kelly
              h6 2014 - Paul Ackerman
              h6 2013 - Brad Huffman
              h6 2012 - Jeff Sottile
              h6 2011 - Jason Pero
              
      
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js", integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js", integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js", integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous")  